

.VDebugPanel{
	width: 1000px;
	height:600px;
	border: 1px solid black;
	z-index: 10000;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -500px;
	overflow: auto;
	background: rgb(200,200,200);
}


.VDebugPanelLeftSideBar{
	width: 200px;
	border-right: 1px solid black;
	height: 100%;
	overflow: auto;
	float: left;
}

.VDebugFilterVarsSelector{
	width: 200px; height: 500px; margin-top: 5px;
	
}


.VDebugFilterVarsSearch{
	width: 195px;
}


.VDebugPanelScene{
	width: 797px; height: 600px;
	background: rgb(220,220,220);
	float: left;
	overflow: auto;
}

.VDebugArrayTree{
	padding: 3px;
}

.VDebugArrayTree details{
	padding: 2px;
}


.VDebugFilterArray{

	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.VDebugFilterArray input[type=text]{
	width: 300px;
}



.highlight{
	background-color: yellow;
}





